<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="scripts/index.js"></script>
    <%- include("partials/head") %>
</head>
    <body>
        
        <main class="index-main">
            <div class="index-title-container">
                <h1 class="index-title"><%= title %></h1>
            </div>
        </main>

    </body>
</html>