<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="scripts/index.js"></script>
    <%- include("partials/head") %>
</head>
    <body>
        
        <main class="index-main">
            <div class="index-title-container">
                <input type="text" class="index-title" value="<%= title %>">
            </div>
            <div class="index-button-container">
                <button class="index-button" id="index-main-button">Copy text</button>
            </div>
        </main>

    </body>
</html>