<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="scripts/index.js"></script>
    <%- include("partials/head") %>
</head>
    <body>
        
        <h1>Hellow World</h1>
        <h2><%= title %></h2>

    </body>
</html>