<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="scripts/index.js"></script>
    <%- include("partials/head") %>
</head>
    <body>
        
        <main class="pro-main">
            <div class="pro-list-container">
                <ul clas="pro-ul">
                    <li class="pro-li"><%= programming %></li>
                </ul>
            </div>
        </main>

    </body>
</html>